@use super::statics::*;
@()

<div class="social">

  <a target="_blank" href="https://sr.ht/~koehr/k0r/" title="project home" rel="noopener">
    <img class="icon" src="/static/@code_svg.name" alt="iconografic code symbol">
    <div class="title">Project Home</div>
  </a>

  <a target="_blank" href="https://github.com/nkoehring/k0r" title="github mirror" rel="noopener">
    <img class="icon" src="/static/@github_svg.name" alt="iconografic github logo">
    <div class="title">Github Mirror</div>
  </a>

  <a target="_blank" href="https://ko-fi.com/koehr#checkoutModal" title="donate via ko-fi.com" rel="noopener">
    <img class="icon" src="/static/@coffee_svg.name" alt="iconografic coffee symbol">
    <div class="title">Donate</div>
  </a>

  <a target="_blank" href="https://todo.sr.ht/~koehr/k0r" title="report an issue" rel="noopener">
    <img class="icon" src="/static/@bug_svg.name" alt="iconografic bug symbol">
    <div class="title">Report an issue</div>
  </a>

</div>
